@keyframes moveNavIn {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes moveNavAway {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0);
  }
}
